/*UI框架*/
.loading_intro{
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #3C3C3C;
    margin: 0;
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    height: 30px;
    width: 100%;
    z-index: 11;
    background-color: #3C3C3C;
    opacity: 0.7;
}
.navitem{
    border-bottom: solid;
    cursor: pointer; 
    margin-bottom: 3px;
    border-bottom-color: #3C3C3C;
    margin-right: 15px;
}
.btn_setting{
    position: absolute;
    bottom: 1px;
    right: 130px;
    z-index: 10;
    border-color: #3C3C3C;
    background-color: #636363;
    color: white;
    border-radius: 2px;
    border-width: 0;
}
.btn_announcement{
    position: absolute;
    bottom: 1px;
    right: 180px;
    z-index: 10;
    border-color: #3C3C3C;
    background-color: #636363;
    color: white;
    border-radius: 2px;
    border-width: 0;
}
.login{
    border-radius: 5px;
    position: absolute;
    height: 300px;
    width: 400px;
    border: solid;
    border-color: white;
    border-width: 3px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #3C3C3C;
    display: none;
    z-index: 15;
}
.login_main{
    display: block;
}
.register{
    display: none;
}
.disconnected{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity:0.7;
    height: fit-content;
    width: fit-content;
    border: solid;
    border-color: red;
    border-width: 3px;
    display: none;
    background-color: black;
    color: white;
    position: absolute;
    top:0;
      left: calc(50% - (321px/2));
    z-index: 15;
}
.disconnected_inside{
    margin: 5px;
}
.backToMap{
    height: 30px;
    width: 50px;
    position: absolute;
    top:0;
    right:250px;
    display:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid;
    border-color: black;
    border-width: 3px;
    background-color: #272727;
    color: white;
    cursor: pointer;
    z-index: 15;
}
.backToMap:hover{
    border-color: white;
}
/*.navitem:hover {
    border-bottom: solid;
    border-bottom-width: 3px;
    border-bottom-color: #5e5e5e;
}*/
.page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.left {
    height: fit-content;
    /*height: 100%;*/
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 35px;
    left: 0px;
    z-index: 10;
    opacity: 0.7;
}

.left::-webkit-scrollbar {
    display: none;
}
.center {
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.right {
    height: 100%;
    width: 250px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    opacity: 0.7;
}
.map{
    height: 100%;
    overflow: hidden;
    z-index: 15;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
      left:0;
}
.map_shakingArea{
    height: 0px;
    overflow: hidden;
    z-index: 16;
    width: 100%;
    position:absolute;
    top:0;
      left:0;
}
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

/*左側EEW*/
.typhoon {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.typhoon_title_box {
    background-color: #0066CC;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 30px;
}

.typhoon_main_box {
    background-color: #414141;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.eew_jp {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.eew_jp_title_box {
    background-color:#0066CC;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 30px;
}

.eew_jp_status_box {
    background-color: #3c3c3c;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    height: 30px;
}

.eew_jp_main_box {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #3c3c3c;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: none;
}

.eew_tw {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.eew_tw_title_box {
    background-color: #0066CC;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 30px;
}

.eew_tw_status_box {
    background-color: #3c3c3c;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    height: 30px;
}

.eew_tw_main_box {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #3c3c3c;
    color: white;
    display: none;
}

.eew_tw_local {
    background-color: blue;
    color: white;
    display: none;
    margin-bottom: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.RF{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.RF_title{
    background-color: #0066CC;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 30px;
}
.RF_list{
    /*background-color: #3c3c3c;*/
    background-color: #3c3c3c;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    padding-bottom: 0px;
    /*height: 30px;*/
}
.RFPLUS{
    /*background-color: #3c3c3c;*/
    background-color: #3c3c3c;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: white;
    padding-bottom: 0px;
    /*height: 30px;*/
}
.RF_lists{
    background-color: #3c3c3c;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 8px;
    padding: 5px;
}
.RF_item{
    display:flex;
    flex-wrap: nowrap;
}
.RFPLUS_status_box{
    background-color: #3c3c3c;
    color: white;
    height: 30px;
}
.RFPLUS_main_box{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #3c3c3c;
    color: white;
    display: flex;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.tsunami {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: none;
}

.tsunami_title_box {
    background-color: #0066CC;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 30px;
}

.tsunami_main_box {
    background-color: #414141;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 5px;
}

.tsunami_coastline{
    color: white;
    display: none;
}

.tsunami_content{
    background-color:#414141; 
    margin-left: 5px; 
    margin-right: 5px;
    margin-bottom: 30px;
    display: none;
}

.others {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.others_title_box {
    color: white;
    background-color: #63AA8B;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.others_main_box {
    background-color: #414141;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin-bottom: 5px;
}
/*右側report列表*/
.earthquake_list_title {
    background-color: darkcyan;
    margin-left: 5px;
    width: 240px;
    height: 30px;
    margin-top: 35px;
    margin-right: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.earthquake_list {
    width: 250px;
    height: calc(100% - 65px);
    overflow-x: hidden;
    overflow-y: auto;
    
    margin-right: auto;
    margin-bottom: 1px;
}

    .earthquake_list::-webkit-scrollbar {
        display: none;
    }

.earthquake_report {
    margin-left: 5px;
    margin-right: auto;
    margin-bottom: 3px;
    border-radius: 7px;
    width: 240px;
    cursor: pointer; 
}

.earthquake_report:hover {
    outline: 3px #fff solid;
    outline-offset: -3px;
}

.report_discription{
    display:none;
    color:white;
    background-color: #636363;
    position: absolute;
    bottom:130px;
    right:250px;
    border: solid;
    border-color: white;
    border-width: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity:0.7;
    z-index:15;
}
.report_discription_inside{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/*獨立數據顯示物件*/
.example {
    display: none;
    height: 245px;
    width: 90px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    left: 250px;
    z-index: 10;
    opacity: 0.7;
    background-color: #3C3C3C;
    color: white;
    font-size: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.time_now{
    height: 32px;
    width: 225px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    bottom: 0px;
    right: 0;
    z-index: 10;
    opacity: 0.7;
    background-color:#3c3c3c;
    border: solid;
    border-color: white;
    border-width: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sta_count{
    height: 32px;
    width: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    right: 230px;
    z-index: 10;
    opacity: 0.7;
    background-color:#3c3c3c;
    border: solid;
    border-color: white;
    border-width: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.max_shindo{
    height: 120px;
    width: 90px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 35px;
    right: 0;
    z-index: 10;
    opacity: 0.7;
    background-color:#3c3c3c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.connection_status{
    height:fit-content;
    width: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    margin: 10px;
    color: white;
    z-index: 10;
}
.selected {
    height: fit-content;
    /* width: 200px;*/
    width: fit-content;
    /*margin-bottom: 10px;*/
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    bottom: 35px;
    right: 0;
    opacity: 0.7;
    background-color: #080808;
    /*color:lightgreen;*/
    z-index: 10;
    border: solid;
    border-color: white;
    border-width: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.wave{
    height: 400px;
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 145px;
    opacity: 0.7;
    background-color: #414141;
    z-index: 10;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wave_put{
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 400px;
    opacity: 0.7;
    background-color: black;
    z-index: 11;
    border-top-left-radius: 5px;
    /*border-top-right-radius: 5px;*/
    border-bottom-left-radius: 5px;
    /*border-bottom-right-radius: 5px;*/
}
.selected_inside {
    margin:10px 10px 10px 10px;
}
.selected_inside_info{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.figure_title_box {
    background-color: #272727;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 30px;
    width: 90px;
}
.maincheckbox {
    width: 20px; 
    height: 20px;
}
/*語言*/
.lang_CNT{
    display:block
}
.lang_ENG{
    display:none
}
.lang_JP{
    display:none
}
.lang_CNS{
    display:none
}